<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Componentes comunes</title>
</head>

<body>
  <!-- Barra de navegacion  -->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:fragment= "navbar">

    <a class="navbar-brand" href="/">Nix</a>
      <div class="container">


	  	<form class="form-inline" action="/action_page.php">
	    	<input class="form-control mr-sm-2" type="text" placeholder="Ingresa tu busqueda" width= 100>
	    	<button class="btn btn-success" type="submit">Buscar</button>
	  	</form>
		 <ul class="nav nav-pills">

		  <li class="nav-item dropdown">
		    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" >Categorias</a>
		    <div class="dropdown-menu">
		      <a class="dropdown-item" href="#">Categoria 1</a>
		      <a class="dropdown-item" href="#">Categoria 2</a>
		      <a class="dropdown-item" href="#">Categoria 3</a>
		    </div>
		  </li>

		  <li class="nav-item">
		    <a class="nav-link" href="/pedidos/ver">Pedidos</a>
		  </li>

		  <li class="nav-item">
		    <a class="nav-link" href="/carrito/ver">Carrito</a>
		  </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" >Usuario</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/perfil/ver">Perfil</a>
          <a class="dropdown-item" href="/salir">Salir</a>
        </div>
      </li>

		</ul>
	</div>
	</nav>

  <!-- En desarrollo, lista genérica para mostrar elementos -->
  <b-card-group deck th:fragment="options">
    <b-card title="Platillo1" style="width: 50%;">
      <b-card-text>
        Comida
      </b-card-text>
    </b-card>

    <b-card title="Platillo2">
      <b-card-text>
        Comida
      </b-card-text>
    </b-card>

    <b-card title="Platillo3">
      <b-card-text>
        Comida
      </b-card-text>
    </b-card>

    <b-card title="Platillo4">
      <b-card-text>
        Comida
      </b-card-text>
    </b-card>

    <b-card title="Platillo5">
      <b-card-text>
        Comida
      </b-card-text>
    </b-card>

    <b-card title="Platillo3">
      <b-card-text>
        Comida
      </b-card-text>
    </b-card>

    <b-card title="Platillo3">
      <b-card-text>
        Comida
      </b-card-text>
    </b-card>
  </b-card-group>

  <b-card no-body th:fragment="menu">
    <b-tabs card vertical>
      <b-tab title="Car 2">
        <div style="overflow-x: scroll;" th:insert="::options"></div>
      </b-tab>
      <b-tab title="Cat3">
        <div style="overflow-x: scroll;" th:insert="::options"></div>
      </b-tab>
    </b-tabs>
  </b-card>
</body>

</html>
