<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- Cargando bootstraps -->
<head th:fragment="head">

  <title>Nix</title>

  <!-- CSS -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  >

  <link
    rel="stylesheet"
    href="/bower_components/bootstrap-horizon/bootstrap-horizon.css"
  >

  <!-- JQuery JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
  <!-- Barra de navegacion  -->
	<nav class="navbar bg-dark" th:fragment= "navbar">

    <a class="navbar-brand" href="/">Nix</a>

    <div class="container">

      <!-- Barra de búsqueda -->
	  	<form class="form-inline" action="#">
	    	<input class="form-control mr-sm-2" type="text" placeholder="Ingresa tu busqueda" width= 100>
	    	<button class="btn btn-success" type="submit">Buscar</button>
      </form>
      
      <!-- Navegación -->
		  <ul class="nav nav-pills">

        <!-- Categorías -->
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" >Categorias</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Categoria 1</a>
            <a class="dropdown-item" href="#">Categoria 2</a>
            <a class="dropdown-item" href="#">Categoria 3</a>
          </div>
        </li>
        -->
        
        <li class="nav-item">
          <a class="nav-link" href="/orders">Pedidos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/carrito/ver">Carrito</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" >Usuario</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/perfil/ver">Perfil</a>
            <a class="dropdown-item" href="/logout">Salir</a>
          </div>
        </li>

		  </ul>
	  </div>
	</nav>


  <!-- Popup para confirmar alguna accion
       ${aceptar} el url al cual se redirige despues de presionar el boton de Aceptar
    -->
  <div class="container" th:fragment = "confirmar-popup">
    <!-- Modal -->
    <div class="modal fade" id="confirmar">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title-center"> Confirmación</h4>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <h1  class= "text-center"></h1>¿Deseas continuar?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal" > Cancelar </a>
            <a class="btn btn-success" th:href = "${aceptar}"> Aceptar</a>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- Cuerpo de la tarjeta de platillos -->
  <div class="card-body" th:fragment="foodcard_body">
    <h5 class="card-title" th:text="${food.nombre}"></h5>
    <p class="card-text" th:text="'Descripción: ' + ${food.descripcion}"></p>
    <p class="card-text" th:text="'Precio: ' + ${food.precio}"></p>    
  </div>
  <!-- /Cuerpo de la tarjeta de platillos -->

  <!-- Tarjera para mostrar platillos sin opciones -->
  <div class="card" style="min-width: 300px; max-width: 300px; height: 300px;overflow: scroll;"
    th:fragment="end_foodcard">

    <div th:replace="::foodcard_body"></div>

  </div>
  <!--/ Tarjeta para mostrar platillos sin opciones -->

  
</body>
</html>