<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
	pageEncoding="ISO-8859-1"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>	
<%@taglib uri="http://www.springframework.org/tags" prefix="spring"%>
<%@taglib uri="http://www.springframework.org/tags/form" prefix="form"%>
<%@taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
	
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title> Menú de navegacion </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
	<!-- Barra de navegacion  -->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container">  	
	  	<form class="form-inline" action="/action_page.php">
	    	<input class="form-control mr-sm-2" type="text" placeholder="Ingresa tu busqueda" width= 100>
	    	<button class="btn btn-success" type="submit">Buscar </button>
	  	</form>
		 <ul class="nav nav-pills">
		  
		  <li class="nav-item dropdown">
		    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Categorias</a>
		    <div class="dropdown-menu">
		      <a class="dropdown-item" href="#">Categoria 1</a>
		      <a class="dropdown-item" href="#">Categoria 2</a>
		      <a class="dropdown-item" href="#">Categoria 3</a>
		    </div>
		  </li>
		  
		  <li class="nav-item">
		    <a class="nav-link" href="#">Pedidos</a>
		  </li>
		  
		  <li class="nav-item">
		    <a class="nav-link" href="#">Carrito</a>
		  </li>
		  		  
		  <li class="nav-item">
		    <a class="nav-link" href="#">Perfil</a>
		  </li>
		</ul> 
	</div>
	</nav>





</body>
</html>